In [18]:
print("City name is case sensetive and date format is YYYY-MM-DD")
city = input("Input your city: ")
date = input("Input your Date: ")

City name is case sensetive and date format is YYYY-MM-DD
Input your city: Dilhi
Input your Date: 2022-12-01

In [19]:

import requests

r = requests.get('https://api.oikolab.com/weather',
                 params={'param': ['temperature'],
                         'start': date,
                         'end': date,
                         'location':city,
                         'freq': 'D',
                         'api-key': '77c98d64bab245d6b646b3c44002b5c3'}
                 )
r.json()['data']

'{"columns":["coordinates (lat,lon)","model (name)","model elevation (surface)","utc_offset (hrs)","temperature (degC)"],"index":[1669852800],"data":[["(28.6517178, 77.2219388)","gfs",220.47,5.5,22.35]]}'

In [20]:
import json
import pandas as pd

weather_data = json.loads(r.json()['data'])

In [24]:
weather_data

{'columns': ['coordinates (lat,lon)',
  'model (name)',
  'model elevation (surface)',
  'utc_offset (hrs)',
  'temperature (degC)'],
 'index': [1669852800],
 'data': [['(28.6517178, 77.2219388)', 'gfs', 220.47, 5.5, 22.35]]}

In [28]:
df = pd.DataFrame(index=pd.to_datetime(weather_data['index'],
                                       unit='s'),
                  data=weather_data['data'],
                  columns=weather_data['columns'])

In [29]:
df

,"coordinates (lat,lon)",model (name),model elevation (surface),utc_offset (hrs),temperature (degC)
2022-12-01,"(28.6517178, 77.2219388)",gfs,220.47,5.5,22.35

In [35]:
temp = df.iloc[0,4]

print(f"Temperature for {city} on {date} : {temp}C")

Temperature for Dilhi on 2022-12-01 : 22.35C